<hibernate-configuration>
    <session-factory>
        <!-- Configuración básica de conexión -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hysinc</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">manolo777Ab</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configuración de sesión actual -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Configuración de mapeo -->
        <mapping class="models.Biblioteca"/>
        <mapping class="models.Juegos"/>
        <mapping class="models.Usuarios"/>
    </session-factory>
</hibernate-configuration>
